body {
    background: linear-gradient(90deg, lightgrey, grey);
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.jsx-root {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 64px;
}

.jsx-root label {
    display: block;
}
