body {
    background-color: lightgray;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.jsx-root {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.jsx-root label {
    display: block;
}