.editTopic-container form{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.editTopic-container form input {
    width: 600px;
    height: 20px;
    font-size: large;
    padding: 12px 24px;
}

.editTopic-container form button {
    height: 40px;
    background-color: green;
    color: white;
    font-weight: 900;
    width: 400px;
}

.editTopic-container form button:hover{
    background-color: rgb(0, 191, 0);
    cursor: pointer;
}