@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&display=swap');

.headerDiv{
    background-color: rgb(213, 213, 213);
    padding: 0px 12px;
}

.headerDiv .logo{
    vertical-align: middle;
}

.headerDiv .navbar{
    display: inline-block;
    vertical-align: middle;
}

body {
    margin: 0;
}

.headerDiv .navbar .links{
    list-style: none;
    margin: 0;
    padding: 0;
}

.headerDiv .navbar .links .link{
    display: inline-block;
    margin-right: 12px;
}

.headerDiv .navbar .links .link a {
    text-decoration: none;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 10%;
    padding: 5px;
    vertical-align: middle;
    color: black;
    background-color: rgb(185, 185, 185);
}

.headerDiv .navbar .links .link a:hover{
    background-color: rgb(192, 190, 190);
}

.organisation-name{
    display: inline-block;
    margin-right: 350px;
    vertical-align: middle;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.3rem;
}