@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&display=swap');

.headerDiv{
    background-color: rgb(213, 213, 213);
    padding: 0px 12px;
}

.headerDiv .logo{
    vertical-align: middle;
}

.headerDiv .navbar{
    display: inline-block;
    vertical-align: middle;
}

body {
    margin: 0;
}

.headerDiv .navbar .links{
    list-style: none;
    margin: 0;
    padding: 0;
}

.headerDiv .navbar .links .link{
    display: inline-block;
    margin-right: 12px;
}

.headerDiv .navbar .links .link a {
    text-decoration: none;
}

.organisation-name{
    display: inline-block;
    margin-right: 350px;
    vertical-align: middle;
    font-family: 'Roboto Condensed', sans-serif;
}