.container{
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-attachment: transparent;
	backdrop-filter: blur(35px);
}

.span{
    cursor: default;
}