.container {
    display: flex;
    flex-direction: column;
}

.mainTitle{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 50px;
}

.projects{
    display: flex;
    gap: 50px;
}

.project{
    border: 4px solid #e1f6fe;
    border-radius: 5px;
    width: 250px;
    height: 300px;
    position: relative;
    background-size: cover !important;
}

.project:nth-child(1){
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/movies.jpg")
}

.project:nth-child(2){
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/social.avif")
}

.innerTitle{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.project:hover .innerTitle{
    color: #a0c6f6;
}

.project:hover{
    border: 4px solid #a0c6f6;
}