.container{
    display: flex;
    align-items: center;
    gap: 100px;
}

.texts,
.img {
    flex: 1
}

.texts{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title{
    font-size: 48px;
    font-weight: 900;
    background: linear-gradient(to bottom, #c4e2dd, #17446d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
}

.desc{
    font-size: 24px;
    cursor: default;
}

.button{
    border: none;
    border-radius: 12px;
    padding: 12px;
    font-weight: bold;
    color: #c4e2dd;
    background-color: #17446d;
    cursor: pointer;
    width: max-content;
    margin-top: 12px;
}

.button:hover{
    background-color: #194976;
}