nav {
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
}

nav a {
    text-decoration: none;
    border: 1px solid;
    padding: 6px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    background-color: grey;
}

nav a:hover{
    background-color: rgb(109, 134, 135);
}